.sample1{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sample2{
    color: chartreuse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.window{
    border-style: dashed;
    color: olive;
}

.footer_button{
    width: 500px;
    height: 300px;
    background-color: lightblue;
    display: contents;
    border-style: dashed;
    margin: 0;
    padding: 0;
}

.btn {
    color: rgb(80, 21, 114);
}

.styled-table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden; 
}

.styled-table th, .styled-table td {
    border: 1px solid #b49595;
    background-color: rgb(194, 202, 201);
    text-align: left;
    padding: 8px;
}

.styled-table th {
    background-color: #d17474;
}

.home_img_container{
    height: 700px;
    width: 700px;
    background-color: cornflowerblue;
}

.home_img_zoomed{
    background-color: burlywood;
    box-shadow: 3px 3px 3px grey";
}

.minigame {
    background-color: bisque;
    text-align: center;
}

.game-table {
    background-color: rgb(161, 199, 235);
    padding: 10px;
}

.minigame-cell{
    padding: 10px;
    margin: 40px;
    border: 2px solid #340885;
    background-color: chartreuse;
    border-radius: 7px;
}

